{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="POST" class="card-header">
        {% csrf_token %}
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="product_title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    {% for variant in all_variants %}<option value="{{variant.variant_title}}">{{ variant.variant_title }}</option>{% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th><b>#</b></th>
                    <th><b>Title</b></th>
                    <th><b>Description</b></th>
                    <th><b>Variant</b></th>
                    <th></th>
                    <th></th>
                    <th width="150px"><b>Action</b></th>
                </tr>
                </thead>

                <tbody>
                {% for product in products %}

                <tr>
                    <td>{{product.product.id}}</td>
                    <td>{{product.product.title}}</td>
                    <td>{{product.product.description}}</td>

                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                            <b>{{ product.product_variant_one.variant_title }}</b>
                            <b>{{ product.product_variant_two.variant_title }}</b>
                            <b>{{ product.product_variant_three.variant_title }}</b>

                            <dt class="col-sm-3 pb-0">

                            </dt>
                            <dd class="col-sm-9">

                                <dl class="row mb-0">
                                    <dt class="col-sm-4 pb-0"></dt>
                                    <dd class="col-sm-8 pb-0"></dd>
                                </dl>

                            </dd>
                        </dl>
                        <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td><b>Price : {{ product.price }}</b></td>
                    <td>InStock : {{ product.stock }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ products.start_index }}-{{ products.end_index }} of {{ products.paginator.count }}</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>



    </div>
</div>

{% if products.has_other_pages %}
  <ul class="pagination justify-content-end">

    {% if products.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}

    {% endif %}
    {% for i in products.paginator.page_range %}
        {% if users.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
     {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if products.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"></a></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}